* {
    box-sizing: border-box;
  }
.my-table th{
    border: solid black;
   
} 
#billing_table{
    border: 1;
} 


span {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

span btn-info{
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}